.flag-container {
    border-left: 1px solid grey;
    margin-left: 15px;
    padding-left: 5px;
}

.flags {
    margin-right: 5px;
    margin-left: 5px;
}

.flags:hover {
    cursor: pointer;
}

.dx-button-mode-contained {
    background: none;
    border: none;
}

.dx-button-mode-contained:hover {
    cursor: pointer;
    font-weight: bold;
}