<div class="row">
    <h3 class="m-2">Personal Dashboard</h3>
    <div class="row mb-2">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Introduction
                </div>
                <div class="card-body">
                    <div>Welcome to personal dashboard!</div>
                    <div>Here you can find info about projects, tasks, everything...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Personal Tasks
                </div>
                <div class="card-body">
                    <dx-list class="panel-list"
                            [dataSource]="tasks"
                            keyExpr="id"
                            displayExpr="title">
                        <!-- ubaciti prikaz podataka projekata -->
                    </dx-list>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Projects
                </div>
                <div class="card-body">
                    <dx-list class="panel-list"
                            [dataSource]="projects"
                            keyExpr="id"
                            displayExpr="name">
                        <!-- ubaciti prikaz podataka projekata -->
                    </dx-list>
                </div>
            </div>
        </div>
    </div>
</div>